.videoContainer{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-left: auto;
    margin-right: auto;
}


.body{
    background-color: #f5f5f5;
}
.center{
    margin-bottom: auto;
    margin-top: auto;
}
.pics{
    height:29vh;
    border-radius: 30px;
    padding:10px;
    float:left;
    position: relative;
    
    margin-bottom: auto;
    margin-top: auto;

    
}
.pics:hover{
    height: 20vh;
    transition: all 0.3s ease-out;
}
.experiencetext{
    position: relative;
    float: right;
    width:80%;
    padding: 10px;
   
}
.experienceCard{
    width:80%;
    border-radius: 30px;
    background:#f5f5f5;
    margin-top: 3%;
    border-radius: 30px;
    box-shadow:  20px 20px 60px #d0d0d0, 
    -20px -20px 60px #ffffff;
}

.youtube{
    text-align: center;
    font-size:35px;
    margin-top: 6%;
}
.video{
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 3%;
}
.ButtonLe:focus, .ButtonLe:active {
    outline: none !important;
    
  }
.ButtonLe{
    border-radius: 100px;
    margin-top: 1.5vh;
    margin-right:2%;
    width:20vh;
    height: 5vh;
    border-width: 0px;
    background:#f5f5f5;
    box-shadow:  4px 4px 8px #c9c9c9, 
             -4px -4px 8px #ffffff;
}
.ButtonLe:hover{
    background: linear-gradient(145deg, #dddddd, #ffffff);
    transition: all 0.2s ease-out;
    color:#f5f5f5;
    
}